@import "../scss/vars";

.checkbox {
  color: $ui-color-text-muted;
  border-radius: $ui-radius-xs;
  display: inline-block;

  &__box {
    display: none;
  }

  &__icon {
    color: $ui-color-text-soft;
    outline: none;

    &:focus {
      color: $ui-color-text-accent;
    }
  }

  &__label {
    margin-left: 10px;
  }

  &_checked {
    .checkbox__icon {
      color: $ui-color-info-icon;

      &:focus {
        color: $ui-color-text-accent-strong;
      }
    }
  }

  &_disabled {
    .checkbox__icon {
      color: $ui-color-text-placeholder;

      &:focus {
        color: $ui-color-text-placeholder;
      }
    }
  }
}
