@import "../scss/vars";

.info-tooltip {
  display: inline-block;

  &__text {
    &-title {
      color: $ui-color-text-accent;
      font-size: $font-size--md;
      font-weight: 600;
    }
  }

  &__icon {
    color: $ui-color-text-accent;
    font-size: $font-size--sm;
  }

  &_warning {
    .info-tooltip__icon {
      color: $ui-color-error-icon;
    }

    .info-tooltip__text {
      &-title {
        color: $ui-color-error-icon;
      }
    }
  }
}
