@import "../scss/vars";

.input {
  display: block;
  max-width: 100%;

  &__text {
    @include ui-control-base();
    width: 100%;

    &::placeholder {
      color: $ui-color-text-placeholder;
    }
  }

  &_auto {
    max-width: 100%;
  }

  &_small {
    width: 200px;
  }

  &_medium {
    width: 250px;
  }

  &_large {
    width: 350px;
  }

  &_with-icon {
    position: relative;

    .input__icon {
      position: absolute;
      inset: 1px auto 1px 1px;
      width: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 13px;
      border-top-left-radius: 13px;
      background: $ui-color-surface-elevated;
      color: $ui-color-text-primary;
    }

    .input__text {
      padding-left: 48px;
    }
  }

  &_errored {
    .input__text {
      border: 1px solid $ui-color-border-danger;
    }
  }

  &_icon-clickable {
    .input__icon {
      cursor: pointer;
    }
  }
}
