.password-recovery {
  $auth-form-max-width: 350px;

  animation: $ui-animation-entrance;

  &__stack {
    width: 100%;
    max-width: $auth-form-max-width;
    margin: 0 auto;
  }

  &__inputs {
    display: block;
    margin: 0 0 20px;
    text-align: left;
  }

  &__content {
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    text-align: center;
  }

  &__forgot-password {
    display: block;
    margin-top: 18px;
    text-align: center;
  }

  &__message {
    margin: 18px 0 0;
    text-align: left;
  }

  &__brand {
    margin: 0 auto 26px;
  }

  &__submit-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 640px) {
    &__content {
      padding: $ui-space-inset-xl;
    }
  }
}

@media screen and (max-width: 320px) {
  .widget {
    margin-left: -12px;
  }
}

@media screen and (max-width: 992px) {
  .password-recovery__content {
    width: 100%;
  }
}
