@import "../scss/vars";

.people-list {
  max-width: 800px;
  margin: 0 auto;

  &__item {
    border: 1px solid $ui-color-border-soft;
    border-radius: $ui-radius-md;
    background: $ui-color-surface-soft;
    margin-bottom: 12px;
    position: relative;
    height: 105px;
    padding-left: 95px;
    font-size: $font-size--md;
    color: $ui-color-text-secondary;

    &-profile-pic-wrapper {
      vertical-align: top;
      background: $ui-gradient-button-primary;
      color: $ui-color-text-inverse;
      border-radius: $ui-radius-sm;
      width: 60px;
      height: 60px;
      top: 20px;
      left: 20px;

      overflow: hidden;
      position: absolute;
      border: 2px solid $ui-color-border-soft;
    }

    &-profile-pic {
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &-block {
      padding: 30px 0;
      width: 25%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 415px) {
    .people-list {
      &__item {
        height: unset;
        padding: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        &-profile-pic-wrapper {
          top: 15px;
          left: 15px;
        }

        &-block {
          width: unset;
          display: unset;
          padding: 15px 10px 0 0;
        }
      }
    }
  }
}
