@import "../scss/vars";

.popup-message {
  min-width: 500px;
  position: relative;

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: $ui-color-text-soft;
    &:focus {
      outline: none;
      color: $ui-color-text-muted;
    }
  }
}
