.main-signup-page {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $ui-layout-auth-page-padding;

  .signup-widget {
    width: 100%;
    max-width: 760px;
  }

  @media screen and (max-width: 640px) {
    min-height: auto;
    padding: $ui-layout-auth-page-padding-mobile;
  }
}
