p {
  margin-bottom: 1em;
}

%heading-large {
  font-size: $font-size--lg;
  font-weight: bold;
  line-height: $half-space * 3 / 2;
}

%heading-medium {
  font-size: $font-size--md;
  font-weight: normal;
  line-height: $half-space;
}

%heading-small {
  font-size: $font-size--sm;
  font-weight: bold;
  line-height: $half-space * 2 / 3;
}

.heading {
  margin-bottom: 0.618em;

  &.-large {
    @extend %heading-large;
  }

  &.-medium {
    @extend %heading-medium;
  }

  &.-small {
    @extend %heading-small;
  }

  &.-smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend %heading-large;
}

h2 {
  @extend %heading-medium;
}

h3 {
  @extend %heading-small;
}