// COLORS
$primary-red: #dd5555;
$secondary-red: #fb6362;

$primary-blue: #414a59;
$secondary-blue: #20b8c5;

$primary-yellow: #e5d151;
$light-yellow: #fff19c;
$very-light-yellow: #ffffe0;

$primary-green: #82ca9c;

$very-light-grey: #f7f7f7;
$light-grey: #eeeeee;
$grey: #e7e7e7;
$medium-grey: #d9d9d9;
$dark-grey: #8d8d8d;

$primary-black: #4d4d4d;

// SPACING
$full-space: 40px;
$half-space: 20px;

// FONT SIZING
$font-size--xs: 11px;
$font-size--sm: 13px;
$font-size--md: 16px;
$font-size--bg: 19px;
$font-size--lg: 24px;
$font-size--xl: 32px;

@mixin scrollbars() {
  $size: 0.4em;
  $color: $grey;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: $size;
      height: $size;
    }

    &::-webkit-scrollbar-thumb {
      background: $color;
    }

    &::-webkit-scrollbar-track {
      background: lighten($color, 50%);
    }
  }
}

@import "theme";
