// COLORS
$primary-red: #ff2501;
$secondary-red: #cc1d00;

$primary-blue: #191d23;
$secondary-blue: #3a8ee6;

$primary-yellow: #e8a020;
$light-yellow: #ffd992;
$very-light-yellow: #fff3da;

$primary-green: #16c172;

$very-light-grey: #131619;
$light-grey: #191d23;
$grey: #20252e;
$medium-grey: #2a303a;
$dark-grey: #8c96a6;

$primary-black: #edf0f5;

// SPACING
$full-space: 40px;
$half-space: 20px;

// FONT SIZING
$font-size--xs: 11px;
$font-size--sm: 13px;
$font-size--md: 16px;
$font-size--bg: 19px;
$font-size--lg: 24px;
$font-size--xl: 32px;

@mixin scrollbars() {
  $size: 0.4em;
  $color: $grey;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: $size;
      height: $size;
    }

    &::-webkit-scrollbar-thumb {
      background: $color;
    }

    &::-webkit-scrollbar-track {
      background: lighten($color, 50%);
    }
  }
}

@import "theme";
